.section_Astro {
  padding: 3rem;
}

.Astro-Container {
  color: #fff;
  background-color: #2e96ea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem;
  border-radius: 30px;
}
.AsrtroLeft big {
  font-size: 3rem;
}
.AsrtroLeft h5 {
  font-size: 1.3rem;
}
.AsrtroLeft button {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
  background: transparent;
  color: #fff;
  font-weight: 600;
  margin-top: 3rem;
  cursor: pointer;
}
.AstroRight img {
  width: auto;
}
.webAstro {
  background-color: #eb612f;
}
.webLeft big {
  font-size: 2.3rem;
}
.webLeft h5 {
  font-size: 1rem;
  color: rgba(255, 242, 242, 0.675);
}
@media screen and (max-width: 940px) {
  .Astro-Container {
    flex-direction: column;
    padding: 2rem 10px;
  }
  .AstroRight img {
    width: 100%;
  }
  .section_Astro {
    padding: 1rem;
  }
}
